/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.unique {
    color: #FF5400;
}

/* header */
header {
    margin: 3rem 7.5rem 6.25rem 7.5rem;
}

nav {
    display: flex;
    align-items: center;
}

.web-title {
    margin-left: 1rem;
    font-size: 2.25rem;
    font-weight: 800;
}

nav li {
    display: inline-flex;
    margin-right: 2.7rem;
}

nav ul {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #424247;
}
.banner{
    height: 500px;
    background: linear-gradient(to bottom, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 100%;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
}
.banner-btn{
    background-color:#FF5400;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 2.5rem;
    width: 9rem;
}
.banner-title{
    font-size: 4rem;
    font-weight:800;
    padding-top: 100px;
    color: white;
}
.banner-des{
    color: white;
}
.input{
    background:rgba(255, 255, 255, 0.30) ;
    border-radius: 8px;
    text-align: center;
    margin: 3.5em 12rem;
    height: 3.5rem;
    padding-top: 0.6rem;
    align-items: center;
    justify-content: center;
}
.writing-area{
    height: 2.5rem;
    width: 9rem;
    border-radius: 0.5rem;
    margin-right: .5rem;
    padding-left: 1rem;
}
@media screen and (max-width:600px) {
    header{
        margin: 0;
    }   
    .banner-title{
        font-size: 2rem;
        padding-top: 10px;
    }
    .input{
        margin: 0rem 2.5rem;
        padding-top: 0.6rem;
        height: 13rem;
    }
    .writing-area{
        height: 2.5rem;
        width: 15rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .banner-btn{
        
        width: 18rem;
        
        
        margin-right: 0.5rem;
        border-radius: .5rem;
    }
}